# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  pull_request:
    branches: [ master , next_release/* ]

jobs:
  tests:
    name: Run unittest
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.6', '3.9', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        DIR=$(pwd)
        cd ../
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f ${DIR}/requirements.txt ]; then pip install -r ${DIR}/requirements.txt ; fi
        if [ -f ${DIR}/requirements-dev.txt ]; then pip install -r ${DIR}/requirements-dev.txt ; fi

    - name: Test with pytest
      run: |
        ./run_tests quiet
