name: Update documentation

on:
  push:
    branches:
      - develop
    paths:
      - 'msa_sdk/*'
env:
  GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
    - name: Generate doc
      run: |
        python -m pip install --upgrade pip
        python -m pip install pdoc3

    - name: Checkout
      uses: actions/checkout@v2

    - name: Generate doc
      run: |
        pdoc --html --force -o msa_sdk_doc msa_sdk

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Create pull request
      uses: car-on-sale/action-pull-request-another-repo@v1.3.0
      env:
        API_TOKEN_GITHUB: ${{ env.GITHUB_TOKEN }}
      with:
        source_folder: 'msa_sdk_doc/msa_sdk/*'
        destination_repo: 'ubiqube/msa-docker'
        destination_folder: 'front/msa_sdk_doc'
        destination_base_branch: 'master'
        destination_head_branch: 'update_pythonsdk_doc'
        user_email: 'efe@ubiqube.com'
        user_name: 'efe'
        pr_title: 'Update Pyhton SDK documentation'
        commit_msg: 'Update documentation automatic created'
